# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Dependency directories
node_modules/
frontend/node_modules
backend/node_modules

# Build directories
frontend/.next
frontend/dist
frontend/out
backend/dist

# Cache files
frontend/.turbo
backend/.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Production
build/

# Misc
*.tmp
*.bak